################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dat
/Source/RotS
/3.7.1.3/settings/Default.opt
/3.7.1.3/jmc.ini
